.eyebrow{
	background-color: #9cacb2;
	height: 70px; 
	border: solid 2px black; 
}

.eye{
	background-color:#2f93cb;
	height: 16px; 
	border: solid 2px black; 
}

.container{
	margin-top: 70px; 
}

.nose-wrapper{
	 height:60px;
	 font-size: 30px;
	 border: solid 2px black; 
}

.mouth{
	background-color: #F199B4;
	height: 50px; 
	border: solid 2px black; 
	margin-top: 50px; 
}

.small-block{
	margin-top: 1px; 
	margin-bottom: 1px;
}

.big-block{
	margin-top: 2px; 
	margin-bottom: 2px; 
}

.row-spacing{
	margin-top: 40px; 
}